{% load i18n %}

{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}
{% spaceless %}

<link rel="stylesheet" href= "https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    .material-icons{
        position: absolute;
        left: 9px;
        margin-top: -3px;
    }
    a {
        color: black;
        font-weight: 600;
        margin: 30;
        text-align: right;
        margin:0 auto;    
        display:block;
    }
</style>

    <div class="panel-group" id="accordion-sidebar" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" role="tab" id="menu-main-button-close">
            <h4 class="panel-title">
                <a class="disabled" href="">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </h4>
        </div>
        <div class="panel-heading">
            <div>
                <a href="/reviews/reviews/create/">
                    <i class="material-icons medium">grading</i> 
                    Applicant Scoring Form
                </a>
            </div>
        </div>
    </div>
{% endspaceless %}
