{% load i18n %}

{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}
{% spaceless %}

<link rel="stylesheet" href= "https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    a {
        color: black;
        font-weight: 600;
        margin: 30;
        text-align: center;
    }
</style>

    <div class="panel-group" id="accordion-sidebar" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" role="tab" id="menu-main-button-close">
            <h4 class="panel-title">
                <a class="disabled" href="">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </h4>
        </div>
        <div class="panel-heading">
            <div>
                <a href="/resumes/resumes/create/">
                    <i class="material-icons medium" style="float:inline; margin-top:15px; margin-bottom:15px">grading</i> Resume Form
                </a>
            </div>
        </div>
    </div>
{% endspaceless %}
